<!DOCTYPE html>

<title>Reponse</title>

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_reponse</th>
                <td>{{ reponse.idReponse }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ reponse.message }}</td>
            </tr>
            <tr>
                <th>Datedepot</th>
                <td>{{ reponse.datedepot ? reponse.datedepot|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reponse.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_index') }}">back to list</a>

    <a href="{{ path('app_reponse_edit', {'id_reponse': reponse.id_reponse}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
