{% extends '/home/index.html.twig' %}

{% block title %} Afficher Formation {% endblock %}

{% block body %}
    <div class="container" style="margin-top:10%;">
        <h1 class="text-center mb-4">Détails de la Formation</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th class="table-dark">Photo</th>
                    <td>
                        {% if formation.photo %}
                            <img src="{{ asset(formation.photo) }}" alt="Image Formation" width="150">
                        {% else %}
                            Pas d'image
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="table-dark">Titre</th>
                    <td>{{ formation.titre }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Description</th>
                    <td>{{ formation.description }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Date</th>
                    <td>{{ formation.date ? formation.date|date('Y-m-d') : 'N/A' }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Heure début</th>
                    <td>{{ formation.heureDebut ? formation.heureDebut|date('H:i:s') : 'N/A' }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Heure fin</th>
                    <td>{{ formation.heureFin ? formation.heureFin|date('H:i:s') : 'N/A' }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Places disponibles</th>
                    <td>{{ formation.nbPlace }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Type</th>
                    <td>{{ formation.type }}</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a href="{{ path('app_formation_index') }}" class="btn btn-primary">Retour à la liste</a>
            <a href="{{ path('app_formation_edit', {'id_f': formation.idF}) }}" class="btn btn-warning">Modifier</a>
            {{ include('formation/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
