<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <h4>Worksphere <img src="{{ asset('front/images/logo-icon.png') }}" alt=""></h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                       
                        <li class="scroll-to-section"><a href="{{ path('app_home') }}">Home</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_formation_index') }}">Formations</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_evennement_index') }}">Evénements</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_offre_index') }}">Offre d'emploi</a></li>

                        <li class="scroll-to-section dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button">Equipe</a>
                            <ul class="dropdown-menu" style="color: black;">
                                <li><a class="dropdown-item" href="{{ path('app_equipe_index') }}" style="color: black;">Équipe</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_projet_index') }}" style="color: black;">Projets</a></li>
                            </ul>
                        </li>
                        

                        <li class="scroll-to-section">
                            <div class="main-blue-button">
                                <a href="#contact">Se connecter</a>
                            </div>
                        </li> 
                        
                    </ul>        
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
