
{% extends 'dashboard/base2.html.twig' %}

<!DOCTYPE html>

<title>Reclamation index</title>

{% block content %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_reclamation</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Type</th>
                <th>Datedepot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idReclamation }}</td>
                <td>{{ reclamation.titre }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.type }}</td>
                <td>{{ reclamation.datedepot ? reclamation.datedepot|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id_reclamation': reclamation.id_reclamation}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id_reclamation': reclamation.id_reclamation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
