<!DOCTYPE html>

<title>Meeting</title>

{% block body %}
    <h1>Meeting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>Room_name</th>
                <td>{{ meeting.roomName }}</td>
            </tr>
            <tr>
                <th>Meeting_url</th>
                <td>{{ meeting.meetingUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_meeting_index') }}">back to list</a>

    <a href="{{ path('app_meeting_edit', {'id': meeting.id}) }}">edit</a>

    {{ include('meeting/_delete_form.html.twig') }}
{% endblock %}
