<!DOCTYPE html>

<title>Reservation index</title>

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_r</th>
                <th>Date</th>
                <th>Formation</th>
             
                <th>Motif de la réservation</th>
                <th>Attente</th>
                <th>Langue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idR }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                 <td>{{ reservation.formation ? reservation.formation.titre : 'Non spécifié' }}</td>
                <td>{{ reservation.motifR }}</td>
                <td>{{ reservation.attente }}</td>
                <td>{{ reservation.langue }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id_r': reservation.id_r}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id_r': reservation.id_r}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
