<!DOCTYPE html>

<title>EvenementSponsor index</title>

{% block body %}
    <h1>EvenementSponsor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Événement</th>
                <th>Sponsor</th>
                <th>Date de début du contrat</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement_sponsor in evenement_sponsors %}
            <tr>
                <td>{{ evenement_sponsor.evenement.nomEvent }}</td>
                <td>{{ evenement_sponsor.sponsor.nomSponso }}</td>
                <td>{{ evenement_sponsor.datedebutContrat ? evenement_sponsor.datedebutContrat|date('Y-m-d') : '' }}</td>
                <td>{{ evenement_sponsor.duree }}</td>
                <td>
                    <a href="{{ path('app_evenement_sponsor_show', {'evenement_id': evenement_sponsor.evenement.idEvent, 'sponsor_id': evenement_sponsor.sponsor.idSponsor}) }}">Afficher</a>
                    <a href="{{ path('app_evenement_sponsor_edit', {'evenement_id': evenement_sponsor.evenement.idEvent, 'sponsor_id': evenement_sponsor.sponsor.idSponsor}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenement_sponsor_new') }}">Créer un nouvel enregistrement</a>
{% endblock %}
