<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ asset('back/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/style.css') }}">
</head>
<body>
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password</h1>
                            <p>Enter your email to reset your password.</p>
                            <a href="{{ path('app_login') }}">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('back/js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('back/js/popper.min.js') }}"></script>
    <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('back/js/feather.min.js') }}"></script>
    <script src="{{ asset('back/js/script.js') }}"></script>
</body>
</html>