<!DOCTYPE html>

<title>Evennement</title>

{% block body %}
    <h1>Evennement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEvent</th>
                <td>{{ evennement.idEvent }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ evennement.nomEvent }}</td>
            </tr>
            <tr>
                <th>DescEvent</th>
                <td>{{ evennement.descEvent }}</td>
            </tr>
            <tr>
                <th>DateEvent</th>
                <td>{{ evennement.dateEvent ? evennement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LieuEvent</th>
                <td>{{ evennement.lieuEvent }}</td>
            </tr>
            <tr>
                <th>CapaciteEvent</th>
                <td>{{ evennement.capaciteEvent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evennement_index') }}">back to list</a>

    <a href="{{ path('app_evennement_edit', {'idEvent': evennement.idEvent}) }}">edit</a>

    {{ include('evennement/_delete_form.html.twig') }}
{% endblock %}
