{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('back/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('back/plugins/fontawesome/css/fontawesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('back/plugins/fontawesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ asset('back/css/style.css') }}">

{% endblock %}

<div class="main-wrapper">


	
<div class="header">

<div class="header-left">
<a href="base.html.twig" class="logo">

<img src="{{ asset('back/img/logo.png') }}" alt="Logo">
</a>
<a href="base.html.twig" class="logo logo-small">
	
	<img src="{{ asset('back/img/logo-small.png') }}" alt="Logo" width="30" height="30">
</a>
<a href="javascript:void(0);" id="toggle_btn">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>
</div>




<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>


<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav user-menu">

<li class="nav-item dropdown">
<a href="#" class="dropdown-toggle nav-link pr-0" data-toggle="dropdown">
<i data-feather="bell"></i> <span class="badge badge-pill"></span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All</a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="activities.html">
<div class="media">
<span class="avatar avatar-sm">
    <img class="avatar-img rounded-circle" alt="Photo de profil" src="{{ asset('back/img/profiles/avatar-02.jpg') }}">

</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Brian Johnson</span> paid the invoice <span class="noti-title">#DF65485</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="" src="{{ asset('back/img/profiles/avatar-03.jpg') }}">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Marie Canales</span> has accepted your estimate <span class="noti-title">#GTR458789</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media">
<div class="avatar avatar-sm">
<span class="avatar-title rounded-circle bg-primary-light"><i class="far fa-user"></i></span>
 </div>
<div class="media-body">
<p class="noti-details"><span class="noti-title">New user registered</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media">
<span class="avatar avatar-sm">
<img class="avatar-img rounded-circle" alt="" src="{{ asset('back/img/profiles/avatar-04.jpg') }}">
</span>
<div class="media-body">
<p class="noti-details"><span class="noti-title">Barbara Moore</span> declined the invoice <span class="noti-title">#RDW026896</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media">
<div class="avatar avatar-sm">
<span class="avatar-title rounded-circle bg-info-light"><i class="far fa-comment"></i></span>
</div>
<div class="media-body">
<p class="noti-details"><span class="noti-title">You have received a new message</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="activities.html">View all Notifications</a>
</div>
</div>
</li>


<li class="nav-item dropdown has-arrow main-drop">
<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
<span class="user-img">
<img src="{{ asset('back/img/profile.jpg') }}" alt="">
<span class="status online"></span>
</span>
<span>Kavin Hansen</span>
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="profile.html"><i data-feather="user" class="mr-1"></i> Profile</a>
<a class="dropdown-item" href="settings.html"><i data-feather="settings" class="mr-1"></i> Settings</a>
<a class="dropdown-item" href="login.html"><i data-feather="log-out" class="mr-1"></i> Logout</a>
</div>
</li>

</ul>
<div class="dropdown mobile-user-menu show">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right ">
<a class="dropdown-item" href="profile.html">My Profile</a>
<a class="dropdown-item" href="settings.html">Settings</a>
<a class="dropdown-item" href="login.html">Logout</a>
</div>
</div>

</div>





<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div class="sidebar-contents">
<div id="sidebar-menu" class="sidebar-menu">
<div class="mobile-show">
<div class="offcanvas-menu">
<div class="user-info align-center bg-theme text-center">
<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
<a href="javascript:void(0)" class="d-block menu-style text-white">
<div class="user-avatar d-inline-block mr-3">
	
	<img src="{{ asset('back/img/profiles/avatar-18.jpg') }}" alt="user avatar" class="rounded-circle" width="50">

</div>
</a>
</div>
</div>

<div class="sidebar-input">
<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</div>
 </div>
<ul>
  <li class="active">
    <a href="/profile">
      <span>👤 Profile</span>
    </a>
  </li>
  <li>
    <a href="/contrat">
      <span>📜 Contrat</span>
    </a>
  </li>
  <li>
    <a href="/gestion-sponsor">
      <span>📢 Gestion Sponsor</span>
    </a>
  </li>
  <li>
    <a href="/user">
      <span>👥 Gestion User</span>
    </a>
  </li>
  <li>
    <a href="/evenements">
      <span>✅ Evenements</span>
    </a>
  </li>
  <li>
    <a href="/formations">
      <span>📢 Formations</span>
    </a>
  </li>
  <li>
    <a href="/offres-emploi">
      <span>🎯 Offres Emploi</span>
    </a>
  </li>
  <li>
    <a href="/entretien">
      <span>🔥 Entretien</span>
    </a>
  </li>
  <li>
    <a href="/changer-mot-de-passe">
      <span>🔄 Mot de Passe</span>
    </a>
  </li>
 
  </li>
</ul>
<ul class="logout">
  <li>
    <a href="/logout">
      <span>🚪 Log out</span>
    </a>
  </li>
</ul>


</div>
</div>
</div>
</div>

{% block js %}
<script src="{{ asset('back/js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('back/js/popper.min.js') }}"></script>
<script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('back/js/feather.min.js') }}"></script>
<script src="{{ asset('back/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('back/plugins/apexchart/apexcharts.min.js') }}"></script>
<script src="{{ asset('back/plugins/apexchart/chart-data.js') }}"></script>
<script src="{{ asset('back/js/script.js') }}"></script>

{% endblock %}