{% extends '/home/index.html.twig' %}
{% block title %}Offres{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="inner" style="--quantity: 10;">
        {% for i in 0..9 %}
        <div class="card"
            style="--index: {{ i }}; --color-card: {% set colors = ['142, 249, 252', '142, 252, 204', '142, 252, 157', '215, 252, 142', '252, 252, 142', '252, 208, 142', '252, 142, 142', '252, 142, 239', '204, 142, 252', '142, 202, 252'] %}{{ colors[i] }}">
            <div class="img"></div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container" style="margin-top:-32%;">
    <h1 class="text-center mb-5" style="font-weight: 600; color: #333;">Liste des Offres</h1>

    <div class="text-center mb-5">
        <a href="{{ path('app_offre_new') }}" class="btn"
            style="background-color: #4a6fa5; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Créer
            une nouvelle offre</a>
    </div>

    <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
        {% for offre in offres %}
        <div class="flip-card">
            <div class="flip-card-inner"
                onclick="window.location.href='{{ path('app_candidature_new', {'offre_id': offre.idOffre}) }}'">
                <div class="flip-card-front">
                    <p class="title">{{ offre.titre }}</p>
                    <p><strong>Type:</strong> {{ offre.typeContrat }}</p>
                    <p><strong>Lieu:</strong> {{ offre.lieuTravail }}</p>
                    <p><strong>Salaire:</strong> {{ offre.salaire }}</p>
                    <p><strong>Exp:</strong> {{ offre.experience }}</p>
                    <p><strong>Date de publication:</strong> {{ offre.datePublication ?
                        offre.datePublication|date('Y-m-d') : '' }}</p>
                    <p><strong>Date Limite:</strong> {{ offre.dateLimite ? offre.dateLimite|date('Y-m-d') : '' }}</p>
                    <p><strong>Status:</strong> {{ offre.statutOffre }}</p>
                    <!-- <p>{{ offre.lieuTravail }}</p> -->
                </div>
                <div class="flip-card-back">
                    <!-- <p><strong>Exp:</strong> {{ offre.description }}</p> -->
                    <p style="max-height: 320px; overflow-y: auto; text-align: justify;">
                        <strong>DESC : </strong> {{ offre.description }}
                    </p>

                    <div style="margin-top: 10px;">
                        <a class="btn btn-sm" href="{{ path('app_offre_show', {'id_offre': offre.idOffre}) }}"
                            style="background-color: #4a6fa5; color: white; padding: 5px 10px; border-radius: 4px; text-decoration: none;">Voir</a>
                        <a class="btn btn-sm" href="{{ path('app_offre_edit', {'id_offre': offre.idOffre}) }}"
                            style="background-color: #e67e22; color: white; padding: 5px 10px; border-radius: 4px; text-decoration: none;">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-center" style="font-size: 1.2rem; color: #777;">Aucune offre trouvée.</p>
        {% endfor %}
    </div>
</div>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">

<style>
    html,
    body {
        height: 100%;
    }

    /* Animation CSS */
    .wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .inner {
        --w: 60px;
        --h: 90px;
        --translateZ: calc((var(--w) + var(--h)) + 0px);
        --rotateX: -15deg;
        --perspective: 1000px;
        position: absolute;
        width: var(--w);
        height: var(--h);
        top: 25%;
        left: calc(20% - (var(--w) / 2) - 2.5px);
        z-index: 2;
        transform-style: preserve-3d;
        transform: perspective(var(--perspective));
        animation: rotating 20s linear infinite;
        pointer-events: none;
    }

    @keyframes rotating {
        from {
            transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
        }

        to {
            transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
        }
    }

    .card {
        position: absolute;
        border: 2px solid rgba(var(--color-card));
        border-radius: 12px;
        overflow: hidden;
        inset: 0;
        transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #0000 radial-gradient(circle,
                rgba(var(--color-card), 0.2) 0%,
                rgba(var(--color-card), 0.6) 80%,
                rgba(var(--color-card), 0.9) 100%);
    }




    .flip-card {
        position: relative;
        background-color: transparent;
        width: 380px;
        height: 440px;
        perspective: 1000px;
        font-family: sans-serif;
        border-radius: 10px;
    }

    .flip-card::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -5px;
        margin: auto;
        width: 390px;
        height: 450px;
        border-radius: 12px;
        /* background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%); */
        background: linear-gradient(-45deg, gold 0%, silver 100%);
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .flip-card::after {
        content: '';
        z-index: -1;
        position: absolute;
        inset: 0;
        /* background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%); */
        background: linear-gradient(-45deg, gold 0%, silver 100%);

        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
        border-radius: 12px;
    }

    .flip-card:hover::before {
        transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    }

    .flip-card:hover::after {
        filter: blur(30px);
    }

    .flip-card:hover {
        margin-bottom: 30px;
        /* ou plus selon l'espace que tu veux */
    }


    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        border-radius: 10px;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg) scaleY(1.07);
        ;
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        padding: 18px;
        box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        color: white;
    }

    .flip-card-front {
        z-index: 2;
    }

    .flip-card-back {
        transform: rotateY(180deg);
        z-index: 1;
        transition: transform 0.4s ease;
    }

    .flip-card-back {
        overflow-y: auto;
        /* Ajoute une barre de scroll si le texte dépasse */
        max-height: 100%;
        /* Empêche de dépasser la hauteur de la carte */
    }


    /* .title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 10px;
    } */
    .flip-card-front .title {
        font-size: 1.8rem;
        font-weight: bold;
        /* Le titre reste en gras */
        margin-bottom: 10px;
    }

    .flip-card p {
        font-size: 17px;
        font-weight: normal;
    }

    .flip-card-front p.title {
        font-weight: bold;
    }

    .flip-card p:last-child {
        color: #e81cff;
        font-weight: 600;
    }


    .btn {
        background-color: #40c9ff;
        color: white;
        padding: 6px 12px;
        border-radius: 5px;
        text-decoration: none;
        margin: 5px;
        font-size: 14px;
    }

    .btn:hover {
        background-color: #e81cff;
        transform: translateY(-2px);
    }

    .flip-card-front p,
    .flip-card-back p,
    .flip-card-front strong,
    .flip-card-back strong {
        color: #000000;
    }


    .flip-card-front {
        font-family: 'Montserrat', sans-serif;
    }

    .flip-card-front .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .flip-card-front p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .container a.btn {
        position: relative;
        z-index: 10;
        /* Permet de superposer le bouton au-dessus de l'animation */
    }
</style>
{% endblock %}