{{ form_start(form, {'attr': {'class': 'form'}}) }}

    {{ form_row(form.cv) }}
    {{ form_row(form.lettre_motivation) }}
    {{ form_row(form.offre) }}
    {{ form_row(form.user) }}

    <div class="btn">
        <button type="submit" class="button">Postuler</button>
    </div>

{{ form_end(form) }}